html, body,p {
  margin: 0;
  padding: 0;
}

header,footer {
  background: #f5a623;
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 100;
}

footer {
   width: 100%;
   height: 200px;
   text-align: center;
   margin-top: 100px;
   clear: both;
 }

.title {
  display: inline;
}

.title-img {
  width: 200px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title-menu {
  float: right;
}

ul, li, a {
  color: #fff;
  display: inline;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  padding: 10px;
}

.page-title {
  color: #4a4a4a;
  font-size: 20px;
  margin-left: 50px;
}

.form-box {
  border: 3px solid #f5a623;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.form-contents {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-text {
  color: #4a4a4a;
  display: inline;
  margin-right: 20px;
}

.form-textarea {
  width: 180px;
  height: 20px;
  border: #f5a623 solid 2px;
  border-radius: 5px;
  font-size: 15px;
}

.submit-button {
  width: 40%;
  height: 40px;
  font-size: 18px;
  color: #f5a623;
  border: solid #f5a623 2px;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 50px;
  &:hover {
    background-color: #f5a623;
    color: #fff;
    cursor: pointer;
  }
}

.top-thumbnail {
  img {
    width: 100%;
    margin-top: 60px;
  }
}

.try-nursery {
  position: relative;
  margin: 0 auto;
  margin-top: -10%;
  width: 40%;
  cursor: pointer;
  padding: 10px 10px;
  z-index: 2;
  background: #f5a623;
  border-radius: 10px;
  text-align: center;
}

.service-detail {
  display: block;
  position: relative;
  margin-top: 10%;
  text-align: center;
  height: auto;
  ul {
    display: block;
    padding-left: 4%;
    height: auto;
  }
  li {
    width: 20%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
  }
  p {
    color: #4a4a4a;
  }
  .detail-title {
    font-size: 20px;
  }
  .detail-description {
    font-size: 12px;
    font-weight: lighter;;
  }
  img {
    width: 100%;
  }
  .try-nursery-btn {
    clear: both;
    margin: 0 auto;
    width: 40%;
    cursor: pointer;
    padding: 10px 10px;
    background: #f5a623;
    border-radius: 10px;
    text-align: center;
  }
}

.calendar {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 80px;
  width: 40%;
}

.select-detail {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  margin-top: 80px;
}

.big-cursor {
  clear: both;
  text-align: center;
  img {
    margin-top: 30px;
    width: 30%;
  }
}
.regions {
  clear: both;
  float: left;
  margin-left: 5%;
  width: 20%;
  margin-top: 30px;
}

.nurseries-list {
  border: solid 3px #f5a623;
  border-radius: 10px;
  float: left;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 50%;
  padding: 10px;
  .nursery {
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    clear: both;
    width: 100%;
    .nursery-description {
      margin-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;

    }
    h2 {
      margin: 0;
      font-size: 20px;
    }
    p {
      font-size: 14px;

    }
    .nursery-thumbnail {
      width: 100px;
      float: left;
      border-radius: 5px 0 0 5px;

    }
    .reserve-btn {
      color: #fff;
      float: right;
      display: inline;
      width: 100px;
      text-align: center;
      padding: 5px 5px;
      border-radius: 5px;
      background: #f5a623;
      margin-top: -35px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
.section-title {
  border-bottom: 2px solid #f5a623;
}
.region {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: dashed 1px #f5a623;
  &:hover {
    color: #fff;
    font-weight: bold;
    background: #f5a623;
    cursor: pointer;
  }
}

table {
  width: 100%;
  margin-top: 50px;
}

td {
  text-align: center;
  &:hover {
    background: #f5a623;
    color: #fff;
  }
}
.select-detail {
  input {
    width: 30%;
    height: 25px;
    font-size: 20px;
    border: #f5a623 solid 2px;
    border-radius: 5px;
    clear: both;
  }
}
.detail-name {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  clear: both;
}

.detail-form {
  margin-left: 20px;
}
.childa {
  font-size: 18px;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.detail-content-left {
  margin-left: 20px;
}
.detail-content {
  float: left;
  width: 40%;
  background: #fff;
  border: solid #f5a623 2px;
  padding: 5px;
  text-align: center;
  color: #f5a623;
  font-weight: bold;
  &:hover {
    background: #f5a623;
    color: #fff;
  }
}
